/*-----------------------------------------------------------------------------------

 Project Name: Amethyst
 Project URI: http://
 Description: 
 Author: Chandan Baruah
 Author URI: https://chandanbaruah.com/
 Version: 1.0.0

/* -----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------

 == Table Of Content

 Imports
 

---------------------------------------------------------------- */

/* 00. Imports */
@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./base/reset";
@use "./base/normalize";
@use "./layouts/header";
@use "./layouts/footer";

html,
body {
    @include mixins.transition(0.3s ease-in-out);
    background-color: #f7f4f2;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, #6d3d8b, #ad3133);
        @include mixins.border-radius(5px);
    }

    &::-webkit-scrollbar-track {
        background-color: #383838;
    }

    &::-moz-scrollbar {
        width: 8px;
        height: 12px;
    }

    &::-moz-scrollbar-thumb {
        background-image: linear-gradient(to bottom, #6d3d8b, #ad3133);
    }

    &::-moz-scrollbar-track {
        background-color: #383838;
    }
}